<!-- Soal 1 -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        {{ fullName }}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
    var vm = new Vue({
        el: '#app',
        data: {
            firstName: 'Tuanku',
            middleName: '',
            lastName: 'Imam Bonjol'
        },
        computed: {
            fullName: {
                get() {
                  // Jawaban Soal no 1
                  return this.firstName + ' ' + this.middleName + ' ' + this.lastName;
                },
                set(newValue) {
                  const names = newValue.split(' ')
                  this.firstName = names[0]
                  this.middleName = names[1]
                  this.lastName = names[names.length - 1]
                }
            }
        },
        methods: {}
    })
    </script>
</body>

</html>