<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <button v-on:click="openForm();">Open Form</button>
        <h1>{{ 'nilai a : ' + a }}</h1>
        <h1>{{ 'rata rata nilai a : ' + a }}</h1>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
    var vm = new Vue({
        el: "#app",
        data: {
            a: 0,
        },
        methods: {
            openForm: function() {
                this.a = prompt('Massukan nilai a');

                let rataRata = function() {
                    this.a %= this.a;
                };
                rataRata();
            }

        }
    })
    </script>
</body>

</html>